*{
    list-style: none;
}

.barra-products{
    display: flex;  
    justify-content: space-between;
    border-radius:15px;
    background-color: grey;
    height: 60px;
    width : calc(100vw - 296px);
    position: relative;
    right: -207px;
    margin-bottom: 10px;
}
.product{
    display: flex;
    align-items: center;
}


.flecha-container{
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: center;
}

.flecha{
    height: 20px;
    margin-top: 34px;
    margin-right: 10px;
}

.product-info{
    padding-bottom: 6px;
}
.idProduct{
    margin-top: -22px;
}

@media (min-width:1024px) {
    .barra-products{
        width: 95vw;
        right: 30px;
    }
}
