*{
    list-style: none;
    text-decoration: none;
    color:inherit;

}

.barra-products{
    display: flex;  
    justify-content: space-between;
    border-radius:15px;
    background-color: grey;
    height: 50px;
    margin-right: 20px;
    position: relative;
    right: 5px;
    margin-bottom: 10px;
    transition:all .1s ease;
    color: white;
}

.barra-products:hover{
    -webkit-transform:scale(1.01);
    -moz-transform:scale(1.01);
    -ms-transform:scale(1.01);
    -o-transform:scale(1.01);
    transform:scale(1.01);
}


.product{
    display: flex;
    align-items: center;
    margin-left: 43px;
}


.flecha-container{
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: center;
}

.products-img{
    height: 40px;
    width: 40px;
    margin-left: -35px;
    margin-right: 10px;
    border-radius: 13px;
    margin-top: 3px;
    object-fit: cover;
}

.flecha{
    height: 20px;
    margin-top: 20px;
    margin-right: 10px;
}

.product-info{
    padding-bottom: 6px;
}
.idProduct{
    margin-top: -22px;
}



