.header {
  position: sticky;
  top: 0;
  left: 0;
  height: 72px;
  width: 100%;
  background-color: #efefef;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 25px;
  z-index: 100;
}

.header .container {
  display: flex;
  align-items: center;
}
.button-hover {
  margin-left: 10px;
  font-size: 12px;
  width: auto;
  text-align: center;
}

.addon-container {
  display: flex;
  align-items: center;
}
.addon-container.expanded {
  width: 100%;
}

.menuButton {
  border: none;
  padding: 8px;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .menuButton {
    display: none;
  }
  .button-hover {
    width: 200px;
  }
}