* {
  box-sizing: border-box;
}

body {
  height: 99vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EFEFEF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fa {
  font-size: 15px;

}

.btn-floating {
  position: fixed;
  bottom:1.9%;
  right:1.5%;
  background-color: #494F51;
  color: white;
/*   padding:15px 5px;
 */  border-radius: 5px;
}
.btn-floating:hover {
  background-color: black;
  color: white;
}

.textoTema{
  display: inline;
  margin-left: 10px;
}
